* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}

body {
    height: 100dvh;
    background-color: rgba(6, 23, 30, 1);
}

header {
    background-size: cover;
    background-color: rgba(9, 33, 42, 1);
    height: 81px;
    width: 100%;

        .header_logo {
            display: flex;
            align-items: center;
            padding: 20px 140px 20px 241px;
        }

        .flower {
            padding-right: 10px;
        }

}

footer {
    background-image: url("assets/img/footer_img.png");
    background-size: cover;
    height: 128px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

        .footer_text {
            padding-top: 10px;
        }
}
