* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(6, 23, 30, 1);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

header {
    background-color: rgba(9, 33, 42, 1);
    height: 81px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .header_content {
        width: 1440px;
        padding: 20px 120px;
        display: flex;
        align-items: center;

        .flower {
            padding-right: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        .header_content {
            justify-content: center;
            padding: 0;
        }
    }
}

@media screen and (max-width: 375px) {
    header {
        .header_content {
            justify-content: center;
            padding: 0;
        }
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
    width: 100%;
    width: 1170px;
    gap: 50px;

    h1 {
        color: rgba(255, 255, 255, 1);
        font-size: 56px;
        font-family: figtree;
        font-weight: 800;
        padding-bottom: 30px;

        br {
            display: none;
        }
    }

    #gallery_content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 20px;
        row-gap: 50px;
    }

    .gallery_item {
        width: 150px;
        height: 150px;
        border-radius: 16px;
        border: 2px solid rgba(18, 70, 88, 1);
        overflow: hidden;
        object-fit: cover;
    }

    .gallery_item:hover {
        cursor: pointer;
        border: 3px solid rgba(107, 193, 225, 1);
    }
}

@media screen and (max-width: 768px) {
    .gallery {
        padding-top: 60px;
        padding-bottom: 56px;
    }

    h1 {
        align-items: center;
        text-align: center;

        br {
            display: inline;
        }
    }

    #gallery_content {
        column-gap: 10px;
        row-gap: 10px;
    }
}

@media screen and (max-width: 375px) {
    .gallery {
        padding-bottom: 56px;

        h1 {
            font-size: 48px;
        }
    }
}

@media screen and (max-width: 320px) {
    .gallery {
        #gallery_content {
            column-gap: 10px;
            row-gap: 10px;

            img {
                width: 130px;
                height: 130px;
            }

            .gallery_item {
                width: 130px;
                height: 130px;
            }
        }

    }
}


#overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 20px;
}

#lightbox {
    width: 688px;
    height: 675px;
    background-color: rgba(6, 23, 30, 1);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;

    .lightbox_header {
        width: 100%;
        display: flex;
        margin-bottom: 60px;
        color: white;
        align-items: center;
        justify-content: space-between;
        padding: 0 45px;

        img {
            width: 32px;
            height: 32px;
            justify-content: flex-end;
        }
    }
}

@media screen and (max-width: 768px) {
    #lightbox {
        width: 588px;
        height: 530px;
    }
}

@media screen and (max-width: 600px) {
    #lightbox {
        width: 500px;
        height: 644px;
    }
}

@media screen and (max-width: 375px) {
    #lightbox {
        width: 343px;
        height: 644px;
    }
}

#lightbox_img {
    width: 560px;
    height: 375px;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    #lightbox_img {
        width: 500px;
        height: 275px;
    }
}

@media screen and (max-width: 600px) {
    #lightbox_img {
        width: 300px;
        height: 375px;
    }
}

@media screen and (max-width: 375px) {
    #lightbox_img {
        width: 300px;
        height: 375px;
    }
}

#lightbox_title {
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: "Figtree";
}

#closeBtn {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.lightbox_footer {
    width: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

    img {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 375px) {
    .lightbox_footer {
        gap: 20px;
    }
}

.lightbox_footer button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.lightbox_footer button:hover {
    background-color: rgba(143, 58, 58, 0.471);
    width: 70px;
    height: 70px;
}

#image_counter {
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: "Figtree";
    position: fixed;
}

@media screen and (max-width: 375px) {
    #image_counter {
        font-size: 16px;
    }
}

footer {
    background-image: url("assets/img/footer_img.png");
    background-size: cover;
    background-position: center;
    height: 128px;
    width: 100%;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-left-radius: 50% 40px;
    border-top-right-radius: 50% 40px;

    .footer_text {
        padding-top: 14px;
    }

    .footer_da_logo {
        display: flex;
        gap: 10px;
    }
}
